In [1]:
x = 1
type(x)

int

In [3]:
x = 1.0
type(x)

float

In [4]:
b1 = True
b2 = False

type(b1)

bool

In [6]:
name1 = 'Jithu Subhash'
type(name1)

str

In [7]:
x = 1.0 - 2.0j
type(x)

complex

In [8]:
print(x)
print(x.real, x.imag)

(1-2j)
1.0 -2.0

In [9]:
tenth = 10
two = 2
print(tenth)
two

10

2

In [10]:
ten = 10
ten

10

In [11]:
ten = 'ten'
ten

'ten'

In [14]:
'Day' + 1

TypeError: can only concatenate str (not "int") to str

In [15]:
'Day ' + str(1)

'Day 1'

In [16]:
i = 3
if i < 3:
    print('less than 3')
elif i < 5:
    print('less than 5')
else:
    print('5 or more')

less than 5

In [17]:
l = []
l

[]

In [18]:
l = list()
l

[]

In [19]:
l = ['a', 'b', 'c']
print(l)
type(l)

['a', 'b', 'c']

list

In [20]:
l = ['a',6]
l

['a', 6]

In [21]:
l2 = list(l)
l

['a', 6]

In [22]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
l = [1,2]
print(l)
l.append('b')
print(l)
l.append('c')
print(l)
l.insert(1, 56)
l

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']

[1, 56, 2, 'b', 'c']

In [24]:
for i in l:
    print(i)

1
56
2
b
c

In [25]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4,9]
sum = 0
for i in numbers:
    sum = sum + i
print("The sum is", sum)
sum

The sum is 46

46

In [26]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [27]:
n = int(input("Enter n: "))
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1   
print("The sum is", sum)

Enter n: 5
The sum is 15

In [28]:
print(range(10))

range(0, 10)

In [29]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
print(list(range(2, 8)))

[2, 3, 4, 5, 6, 7]

In [31]:
print(list(range(2, 20, 5)))

[2, 7, 12, 17]

In [32]:
genre = ['pop', 'rock', 'jazz','sapna']
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz
I like sapna

In [33]:
for val in "HARSHITHA":
    if val == "I":
        break
    print(val)

print("The end")

H
A
R
S
H
The end

In [34]:
for val in "HARSHITHA":
    if val == "I":
        continue
    print(val)

print("The end")

H
A
R
S
H
T
H
A
The end

In [35]:
name = input("What is your name?\n ")
type(name)

What is your name?
 Jithu

str

In [36]:
age = int(input("What is your age? "))
print ("Your age is: ", age)
type(age)

What is your age? 21
Your age is:  21

int

In [37]:
name = input("What is your name? ")
print (" It was nice talking you " + name + "!")
age = input("Enter your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")

What is your name? Jithu
 It was nice talking you Jithu!
Enter your age? 21
Hey, you are already 21 years old, Jithu!