In [1]:
'Jithu Subhash'

'Jithu Subhash'

In [2]:
a= 'Jithu'
a

'Jithu'

In [3]:
"Hello everyone!!"

'Hello everyone!!'

In [4]:
" I'm a boy!!" #using quotes.

" I'm a boy!!"

In [5]:
print("hello world!")

hello world!

In [6]:
'a'
'b' # oly b prints!!

'b'

In [7]:
from __future__ import print_function

print 'Hello World' # Error cause i am using Python 3.

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World')? (<ipython-input-7-60aaf9aa3768>, line 3)

In [8]:
len('Jithu')

5

In [9]:
s='Jithu'

In [10]:
s

'Jithu'

In [11]:
print(s)

Jithu

In [12]:
s[2]

't'

In [14]:
s[4]

'u'

In [15]:
s[1:]

'ithu'

In [16]:
s[:4]

'Jith'

In [17]:
s[:]

'Jithu'

In [18]:
s[-1]

'u'

In [19]:
s[:-1]

'Jith'

In [20]:
s[-1:]

'u'

In [21]:
s[::-1]

'uhtiJ'

In [22]:
s[::1]

'Jithu'

In [23]:
s[::2]

'Jtu'

In [24]:
s + ' Subhash'

'Jithu Subhash'

In [25]:
print(s)

Jithu

In [26]:
s = s+' Subhash'
print(s)

Jithu Subhash

In [27]:
s

'Jithu Subhash'

In [28]:
s*3

'Jithu SubhashJithu SubhashJithu Subhash'

In [29]:
a='*'
a*10

'**********'

In [34]:
for i in range(6):
    print(a*i)

*
**
***
****
*****

In [35]:
print(s.upper())

JITHU SUBHASH

In [36]:
print(s.lower())

jithu subhash

In [37]:
s

'Jithu Subhash'

In [38]:
print(s.split())

['Jithu', 'Subhash']

In [39]:
l=s.split()
l[0]

'Jithu'

In [40]:
print(s.split('u'))

['Jith', ' S', 'bhash']

In [41]:
'Insert another string with curly brackets:'.format({'The inserted string'})

'Insert another string with curly brackets:'

In [42]:
'Insert another string with curly brackets:{}'.format({'The inserted string'})

"Insert another string with curly brackets:{'The inserted string'}"

In [43]:
print(s.count('u'))

2

In [44]:
s.find('s')

11

In [45]:
s.find('S')

6

In [48]:
s.center(20,'*')

'***Jithu Subhash****'

In [49]:
'hello\thi'.expandtabs()

'hello   hi'

In [50]:
s.isalnum()

False

In [51]:
s.isalpha()

False

In [52]:
s.islower()

False

In [53]:
s.isspace()

False

In [54]:
s

'Jithu Subhash'

In [55]:
s.istitle()

True

In [58]:
s.endswith('h')

True

In [59]:
s.partition('u')

('Jith', 'u', ' Subhash')

In [60]:
type(s.partition('u'))

tuple

In [61]:
my_list = [1,2,3]

In [62]:
my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

In [63]:
len(my_list)

4

In [64]:
my_list = ['one','two','three',4,5]

In [65]:
my_list[0]

'one'

In [66]:
my_list[:3]

['one', 'two', 'three']

In [67]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [68]:
my_list

['one', 'two', 'three', 4, 5]

In [70]:
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [71]:
l = [1,2,3]

In [72]:
l.append('append me!')

In [73]:
l

[1, 2, 3, 'append me!']

In [75]:
l.pop(0)

1

In [76]:
popped_item = l.pop()

In [79]:
popped_item

'append me!'

In [78]:
new_list = ['a','e','x','b','c']

In [80]:
new_list

['a', 'e', 'x', 'b', 'c']

In [81]:
new_list.reverse()

In [82]:
new_list

['c', 'b', 'x', 'e', 'a']

In [84]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

matrix = [lst_1,lst_2,lst_3]

In [85]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [86]:
matrix[1][1]

5

In [87]:
first_col = [row[2] for row in matrix]

In [88]:
first_col

[3, 6, 9]

In [89]:
l = [1,2,3]

In [90]:
l

[1, 2, 3]

In [91]:
l.count(10)

0

In [92]:
l.count(2)

1

In [93]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [94]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [95]:
print(l)
l.index(2)

[1, 2, 3]

1

In [96]:
l.insert(2,'inserted')

In [97]:
l

[1, 2, 'inserted', 3]

In [98]:
ele = l.pop()

In [99]:
l

[1, 2, 'inserted']

In [100]:
ele

3

In [101]:
l.remove('inserted')

In [102]:
l

[1, 2]

In [103]:
l.reverse()

In [104]:
l

[2, 1]

In [105]:
l[::-1]

[1, 2]

In [106]:
l.sort()

In [107]:
l

[1, 2]