In [1]:
import math

In [2]:
math.ceil(3.5)

4

In [3]:
math.ceil(2.4)

3

In [4]:
math.floor(3.5)

3

In [5]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [7]:
help(math.floor)

Help on built-in function floor in module math:

floor(x, /)
    Return the floor of x as an Integral.

    This is the largest integer <= x.

In [8]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [9]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [10]:
try:
   f = open("testfile", "w")
   f.write("Test write statement")
finally:
   print("Always execute finally code blocks")

Always execute finally code blocks

In [15]:
def jithu():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [12]:
jithu()

Please enter an integer: 5
Finally, I executed!
5

In [16]:
jithu()

Please enter an integer: 1.25
Finally, I executed!

ValueError: invalid literal for int() with base 10: '1.25'

In [19]:
def sub():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [20]:
sub()

Please enter an integer: 1.2
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 5.0
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 10
Yep thats an integer!
Finally, I executed!

In [21]:
import sqlite3
db = sqlite3.connect("my_database1.db")
db.execute("drop table if exists grades1")
db.execute("create table grades1(id int, name text, score int)")
db.execute("insert into grades1(id, name, score) values(101, 'Abhi',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Ash',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'Emil', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Jithu', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kiran',95 )")

In [22]:
db.commit()

In [23]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(101, 'Abhi', 99)
(102, 'Ash', 90)
(103, 'Emil', 80)
(104, 'Jithu', 85)
(105, 'Kiran', 95)
------------------------------------------------------------

In [24]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'Abhi', 99)
(102, 'Ash', 90)
(105, 'Kiran', 95)
------------------------------------------------------------

In [25]:
results = db.execute("select * from grades1 where name = 'Jithu' ")
for row in results:
    print(row)
print("-" * 60 )

(104, 'Jithu', 85)
------------------------------------------------------------

In [26]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('Abhi', 99)
('Kiran', 95)
('Ash', 90)
('Jithu', 85)
('Emil', 80)
------------------------------------------------------------

In [27]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('Emil', 80)
('Jithu', 85)
('Ash', 90)
('Kiran', 95)
('Abhi', 99)
------------------------------------------------------------